.eventos-main-container {
  width: 100%;
  .eventos-container {
    width: 100%;
    .text-main-container {
      width: 100%;
      .text-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .title-container {
          max-width: 100%;
        }
      }
    }

    .evento-item {
      h2 {
        font-size: clamp(18px, 1.146vw, 22px);
        font-family: $font-montserrat;
        font-weight: 600;
        color: $accent-color;
        margin-top: 24px;
      }
    }
  }
}
