//FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Aesthetic";
  src: url("/assets/fonts/Aesthetic/Aesthetic-Regular.eot");
  src: url("/assets/fonts/Aesthetic/Aesthetic-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/Aesthetic/Aesthetic-Regular.woff2") format("woff2"),
    url("/assets/fonts/Aesthetic/Aesthetic-Regular.woff") format("woff"),
    url("/assets/fonts/Aesthetic/Aesthetic-Regular.ttf") format("truetype"),
    url("/assets/fonts/Aesthetic/Aesthetic-Regular.svg#Aesthetic-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italiana';
  src: url('/assets/fonts/Italiana/Italiana-Regular.eot');
  src: url('/assets/fonts/Italiana/Italiana-Regular.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Italiana/Italiana-Regular.woff2') format('woff2'),
      url('/assets/fonts/Italiana/Italiana-Regular.woff') format('woff'),
      url('/assets/fonts/Italiana/Italiana-Regular.ttf') format('truetype'),
      url('/assets/fonts/Italiana/Italiana-Regular.svg#Italiana-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



// @font-face {
//   font-family: "Quahon";
//   src: url("/assets/fonts/Quahon/Quahon.eot");
//   src: url("/assets/fonts/Quahon/Quahon.eot?#iefix") format("embedded-opentype"),
//     url("/assets/fonts/Quahon/Quahon.woff2") format("woff2"),
//     url("/assets/fonts/Quahon/Quahon.woff") format("woff"),
//     url("/assets/fonts/Quahon/Quahon.ttf") format("truetype"),
//     url("/assets/fonts/Quahon/Quahon.svg#Quahon") format("svg");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }





// @font-face {
//   font-family: "MELADU ROSE";
//   src: url("/assets/fonts/MeladuRose/MELADUROSE.eot");
//   src: url("/assets/fonts/MeladuRose/MELADUROSE.eot?#iefix")
//       format("embedded-opentype"),
//     url("/assets/fonts/MeladuRose/MELADUROSE.woff2") format("woff2"),
//     url("/assets/fonts/MeladuRose/MELADUROSE.woff") format("woff"),
//     url("/assets/fonts/MeladuRose/MELADUROSE.ttf") format("truetype"),
//     url("/assets/fonts/MeladuRose/MELADUROSE.svg#MELADUROSE") format("svg");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
